@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');


@font-face {
    font-family: "CurlyShirley";
    src: url("../fontes/Curly Shirley.ttf");
}

@font-face {
    font-family: "PrettyGirls";
    src: url("../fontes/Pretty Girls Script Demo.ttf");
}

@font-face {
    font-family: "HelloKitty";
    src: url("../fontes/Hello Kitty.otf");
}

@font-face {
    font-family: "ScaryMovie";
    src: url("../fontes/scarymoviegallery.otf");
}

@font-face {
    font-family: "FairyTales";
    src: url("../fontes/Fairy Tales.ttf");
}

@font-face {
    font-family: "JamonDelMar";
    src: url("../fontes/JDM.ttf");
}


/* Título principal */
h1 {
    font-family: "CurlyShirley", cursive;
    color: #ff1493;
    font-size: 80px;
    animation: aparecer 2s;
}


/* Títulos das seções */
h2 {
    font-family: "PrettyGirls", cursive;
    color: #ff1493;
    font-size: 60px;
}


/* Textos normais */
body {
    background-color: #ffe6f2;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #c71585;
    line-height: 1.6;
}


/* Parágrafos */
p {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    color: #c71585;
}


/* Bonequinho Hello Kitty */
.hello {
    font-family: "HelloKitty";
    font-size: 100px;
}


/* Cards */
.card {
    border-radius: 25px;
    border: 2px solid #ffb6d9;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(255, 20, 147, 0.2);
    transition: 0.3s;
}


/* Hover dos cards */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(255, 20, 147, 0.4);
}


/* Títulos dos cards */
.card-title {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    color: #ff1493;
}


/* Textos dos cards */
.card-text {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #c71585;
}


/* Imagens arredondadas */
img {
    border-radius: 30px;
}


/* Botão personalizado */
.btn-primary {
    background-color: #ff1493;
    border-color: #ff1493;
    border-radius: 30px;
    padding: 15px 35px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    transition: 0.3s;
}


/* Hover do botão */
.btn-primary:hover {
    background-color: #ff69b4;
    border-color: #ff69b4;
    transform: scale(1.1);
}


/* Formulário */
.form-label,
.form-control {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #c71585;
}


/* Menu */
.nav-link {
    color: #c71585 !important;
}


/* Rodapé */
footer {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}


/* Animação */
@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}
.cabecalho {
    background-color: #800080 !important;
}
