@font-face {
    font-family: "CurlyShirley";
    src: url("../fontes/Curly Shirley.ttf");
}

@font-face {
    font-family: "PrettyGirls";
    src: url("../fontes/Pretty Girls Script Demo.ttf");
}

@font-face {
    font-family: "HelloKitty";
    src: url("../fontes/Hello Kitty.otf");
}

@font-face {
    font-family: "FairyTales";
    src: url("../fontes/Fairy Tales.ttf");
}

@font-face {
    font-family: "ScaryMovie";
    src: url("../fontes/scarymoviegallery.otf");
}

@font-face {
    font-family: "JDM";
    src: url("../fontes/JDM.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #ffe6f2;
    color: #71585f;
    font-family: Arial, sans-serif;
}


/* MENU */

.navbar {
    background-color: #800080 !important;
}


.logo {
    font-family: "HelloKitty";
    font-size: 35px;
    color: white !important;
}



/* TITULO */

h1 {
    font-family: "CurlyShirley";
    font-size: 120px;
    color: #ff1493;
    margin-top: 40px;
}


section p {
    font-size: 20px;
}



/* BOTÃO */

.btn-primary {
    background-color: #ff1493;
    border: none;
}


.btn-primary:hover {
    background-color: #800080;
}



/* TITULOS */

h2 {
    font-family: "PrettyGirls";
    font-size: 80px;
    color: #800080;
}



/* CARDS */

.card {
    background-color: white;
    border-radius: 25px;
    border: none;
    padding: 25px;
    transition: 0.4s;
    box-shadow: 0 5px 15px #0003;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #80008055;
}


.icone-card {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #ff1493;
}


.livros {
    font-family: "FairyTales";
}


.filmes {
    font-family: "ScaryMovie";
}


.musicas {
    font-family: "JDM";
}


.card-title {
    color: #ff1493;
    text-align: center;
}


.card-text {
    text-align: center;
}



/* ORGANIZAÇÃO */

.row {
    justify-content: center;
}



/* GALERIA */

img {
    transition: 0.4s;
}


img:hover {
    transform: scale(1.05);
}



/* FOOTER */

footer {
    background-color: #800080 !important;
}
